

<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<h2>Thanks, you paid <strong>$1.99</strong>!</h2>
<div class="row">
  <div class="span6 offset3">
  	You've successfully upgraded to an ad-free account.
  </div>
</div>